.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
  flex-direction: column;
}

[data-theme='dark'] .right {
  background-color: #232323;
}

.right {
  background-color: #f8f8f8;
}

.feature {
  flex-direction: column;
}

@media screen and (min-width: 480px) {
  .feature {
    flex-direction: row;
    margin-bottom: 3rem;
  }

  .left {
    flex-direction: row;
  }

  .right {
    flex-direction: row-reverse;
  }

  .image {
    width: 40%;
  }
  .text {
    width: 60%;
  }
}

.feature {
  display: flex;
}

.feature p {
  font-size: 1.3rem;
}

.image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.text {
  padding: 4rem;
}

.featureSvg {
  height: 200px;
  width: 200px;
}
