.centered {
    display: flex;
    justify-content: center;
}

.loginContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem;
}

.loginContainer h1 {
    text-align: center;
}

.loginContainer button {
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.loginButton {
    background-color: var(--ifm-color-primary);
    color: var(--ifm-heading-color);
}

.hero {
    margin-top: 3rem;
    max-width: 75%;
    text-align: center;
}

.hero p {
    font-size: 1.5rem;
}


.split {
    display: flex;
    width: 100%;
    flex-direction: column;
}

@media screen and (min-width: 1080px) {
    .split {
        max-width: 70%;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (min-width: 480px) {
    .split {
        flex-direction: row;
    }

    .split > * {
        width: 50%;
    }
}

.split > * {
    width: 100%;
}

.split > :first-child {
    background-color: var(--ifm-color-primary);
}
