name: Reindex Wing Docs

on:
  deployment_status:
jobs:
  console:
    name: display deployment url
    runs-on: ubuntu-latest
    steps:
      - name: deployment_status deployment_url
        run: echo ${{ github.event.deployment_status.deployment_url }}
      - name: deployment_status status
        run: echo ${{ github.event.deployment_status.status }}
  reindex:
    name: reindex only when deployment is successful on our main branch
    if: github.event_name == 'deployment_status' && github.event.deployment_status.state == 'success' && github.event.deployment_status.deployment_url == 'https://wing-docs-git-main-monada.vercel.app'
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          ref: main
      - name: run reindex
        run: npm run reindex
        env:
          CRAWLER_API_KEY: ${{ secrets.CRAWLER_API_KEY }}
          CRAWLER_USER_ID: ${{ secrets.CRAWLER_USER_ID }}
          CRAWLER_ID: ${{ secrets.CRAWLER_ID }}
          CRAWLER_API_BASE_URL: https://crawler.algolia.com/api/1

